.favoriteInput:focus {
    border-color: #00c898 !important;
}

/* .primary{
    color: #A4EBBE;
    color: #90E1B1;
    color: #7ADCA4;
    color: #61D697;
    color: #43D18A;
    color: #01CB7D;
    color: #01CB7D;
    color: #01B06C;
    color: #01965B;
    color: #007D4B;
}

.secondary {
    color: #97C7CA;
    color: #81BBC0;
    color: #6BB0B5;
    color: #53A5AB;
    color: #008F97;
    color: #008F97;
    color: #007C83;
    color: #00696F;
    color: #00575C;
} */