.searchInput{
  background-color: #f0f7fd;
}

.searchInput:focus{
  border-color: #00c898;
}


.custom {
  transition: color 0.2s ease;
}

.custom:hover {
  color: #00c898;
}

.custom[data-active] {
  color: #005e83;
}

.morePBtn{
    color: #00c898;
}

.morePBtn:hover {
    color: #a4e2d6; 
}

.search-container {
  border-radius: 5rem;
}

@media (max-width: 820px) {
  .search-container {
    border-radius: 1rem;
  }
}

.featuredGrid {
  margin-top: 8rem;
  margin-bottom: 3rem;
}

@media (max-width: 820px) {
.featuredGrid {
  margin-top: 15rem;
}
}
