.custom {
  transition: color 0.2s ease;
}

.custom:hover {
  color: #00c898;
}

.custom[data-active] {
  color: #005e83;
}

.button {
  color: #fff;
}

.morePBtn{
    color: #00c898;
}

.morePBtn:hover {
    color: #a4e2d6; 
}
