.modal {
  :global {
    .mantine-Modal-content {
      box-shadow: none !important;
      background-color: transparent !important;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
    .mantine-Modal-content::-webkit-scrollbar {
      display: none;
    }
    .mantine-Modal-header {
      background-color: transparent !important;
    }
    .mantine-Modal-close {
      color: white;
      background-color: transparent;
    }
  }
}